@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-family: 'Poppins';
    color: #424242;
}

p {
    font-family: 'Rubik';
    text-align: justify;
}

body {
    align-items: center;
    justify-items: center;
}

/* inicia header */

.headerContent {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}

.containerLogo{
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fundationBeCoaching a{
    max-width: 60%;
    text-decoration: none;
    font-family: 'Rubik';
    font-size: 4rem;
    color: #ff9a17;
}

.fundationBeCoaching a p {
    margin: auto;
    text-align: center;
}

.logo1 {
    max-width: 50%;
}

.logo2 {
    max-width: 100%;
}

.principalTitle{
    text-decoration: none;
}

.containerNav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin: auto;
    max-width: 1200px;
}

.containerNav a{
    text-decoration: none;
}

.buttonStyle {
    align-items: center;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    color: #242323;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Rubik';
    font-size: 1em;
    height: 43px;
    justify-content: center;
    margin: 30px 10px 0 10px;
    padding-bottom: 2px;
    width: 180px;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}

.buttonStyle span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.buttonStyle:hover {
    color: #fff;
    transition: .5s ease all;
}

.buttonStyle.one::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #013f6e;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.one:hover::after {
    top: 0;
}

.buttonStyle.two::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #75cfe8;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.two:hover::after {
    top: 0;
}

.buttonStyle.three::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #9eab1f;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.three:hover::after {
    top: 0;
}

.buttonStyle.four::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #a881b8;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.four:hover::after {
    top: 0;
}

.buttonStyle.five::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #f50081;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.five:hover::after {
    top: 0;
}

.buttonStyle.six::after {
    content: "";
    width: 180px;
    height: 40px;
    background: #E17E57;
    position: absolute;
    z-index: 1;
    top: -37px;
    left: 0;
    transition: .3s ease-in-out all;
}

.buttonStyle.six:hover::after {
    top: 0;
}

/* finaliza header */


/* inicia main */

main{
    background-color: #131313;
    height: 100vh;
    margin-top: 30px;
    align-items: center;
    justify-items: center;
}

/* .slide {
    width: 100%;
}

.slide img{
    max-width: 100%;
    margin: auto;
    position: absolute;
} */

/* .slide2{
    background-image:url("/sources/17.png");
} */

/* .slide img {
    width: 100%;
    max-height: 100%;
    z-index: 0;
}

/* finaliza main */

    /* inicia tabs */

    .tabsBody {
        background: #D4D4D4;
        font-family: 'Rubik';
    }

    .wrap{
        max-width: 80%;
        margin: 30px auto;
    }
    
    ul.tabs{
        width: 100%;
        background: #363636;
        list-style: none;
        justify-content: space-between;
        display: flex;
        padding-left: 0rem;
    }
    
    ul.tabs li{
        width: 18%;
    }
    
    ul.tabs li a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
    
        display: block;
        padding: 20px 0px;
    }
    
    .active{
        background: #0984CC;
    }
    
    ul.tabs li a .tab-text{
        margin-left: 8px;
    }
    
    .secciones{
        width: 100%;
        background: rgb(39, 39, 39);
        display: grid;
    }
    
    .articulo {
        columns: 200px 2;
        column-gap: 25px;
        color: #fff;
        padding: 25px;
    }

    .divContainer{
        align-items: center;
        font-family: 'Rubik';
        text-align: justify;
    }

    .divContainer p {
        margin: 20px 0;
    }

    .divContainer li {
        margin-top: 20px;
        margin-left: 30px;
    }

    .secciones article{
        padding: 30px;
    }
    
    .secciones article p{
        text-align: justify;
    }

    .secciones article .textPrice{
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
        text-shadow: 2px 2px 5px white;
        color: #940505;
        padding: 20px;
    }
    
    .title {
        column-span: all;
        margin-bottom: 15px;
        font-family: 'Rubik';
        font-size: 3em;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 30px;
        color: white;
        text-shadow: 2px 2px 15px #0091ff;;
    }

    .passage {
        padding: 10Px;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    .titleTrilogia {
        font-weight: bold;
        font-size: 1.3em;
        color: #75cfe8;
    }

    .imgPrice{
        width: 100%;
        align-items: center;
    }

    @media screen and (max-width: 700px){
        ul.tabs li{
            width: none;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
    
    @media screen and (max-width: 450px){
        ul.tabs li a{
            padding: 15px 0px;
        }
    
        ul.tabs li a .tab-text{
            display: none;
        }
    
        .secciones article{
            padding: 20px;
        }
    }











